$dark-grayish-blue: #4C545D;
$grayish-blue: #9FABB2;
$strong-cyan: #26BAA4;
$strong-cyan-hover: #5DCCBB;
$light-blue: #6173FF;
$light-blue-hover: #8896FE;
$footer-color: #F5F6F8;

$font: 'Bai Jamjuree', sans-serif;
$regular: 400;
$semi-bold: 600;

@mixin toRem($property, $px) {
  #{$property}: ($px / 16) + rem;
}

@mixin textCenter {
  text-align: center;
}

@mixin marginAll($top, $right, $bottom, $left) {
  margin: ($top / 16) + rem, ($right / 16) + rem, ($bottom / 16) + rem, ($left / 16) + rem;
}

@mixin marginBottom($value) {
  margin-bottom: ($value / 16) + rem;
}

@mixin paddingTopBottom($top, $bottom) {
  padding-top: ($top / 16) + rem;
  padding-bottom: ($bottom / 16) + rem;
}

@mixin marginRightLeft($right, $left) {
  margin-right: ($right / 16) + rem;
  margin-left: ($left / 16) + rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

html,
body {
  scroll-behavior: smooth
}

button {
  border: none;
}

h1 {
  @include toRem(font-size, 24);

  font-weight: $semi-bold;
  color: $dark-grayish-blue;

  @media screen and (min-width: 992px) {
    @include toRem(font-size, 45);
  }
}

h2 {
  @include toRem(font-size, 21);
  
  font-weight: $semi-bold;
  color: $dark-grayish-blue;

  @media screen and (min-width: 992px) {
    @include toRem(font-size, 36);
  }}

h3 {
  @include toRem(font-size, 18);
  
  font-weight: $semi-bold;
  color: $dark-grayish-blue;

  @media screen and (min-width: 992px) {
    @include toRem(font-size, 24);
  }}

p {
  @include toRem(font-size, 12);

  color: $grayish-blue;

  @media screen and (min-width: 992px) {
    @include toRem(font-size, 16);
  }
}

a {
  @include toRem(font-size, 14);

  color: $dark-grayish-blue;
  text-decoration: none;
  transition: color linear .1s;

  &:hover {
    color: $strong-cyan;
  }
}

li {
  list-style: none;
}

.container {
  @include marginRightLeft(65, 65);

  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 992px) {
    @include toRem(max-width, 992);
    
    margin: 0 auto;
  }
}