.l-footer {
  @include textCenter;
  @include paddingTopBottom(40, 40);

  background: $footer-color;

  &__logo {
    @include toRem(width, 46);
    @include marginBottom(28);
  }

  &__links {
    @include marginBottom(37);
  }
  
  &__link--faqs,
  &__link--contact-us,
  &__link--privacy-policy,
  &__link--press-kit {
    @include marginBottom(12);
  }

  &__social {
    margin: 0 auto;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    svg {
      fill: $dark-grayish-blue;
      transition: fill linear .1s;

      &:hover {
        fill: $strong-cyan;
      }
    }
  }
}