.l-header {
  @include paddingTopBottom(100, 100);
  
  background: url(/src/images/bg-header-mobile.png) no-repeat center top ;

  &__logo {
    @include toRem(margin-bottom, 58);
    @include toRem(width, 90);
  }

  &__title {
    @include toRem(margin-bottom, 16);
    @include textCenter;
  }
  
  &__text {
    @include toRem(margin-bottom, 36);
    @include textCenter;
  }

  &__container--btn {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}